


<div class="panel panel-default ">
    <!-- Default panel contents -->
    <div class="panel-heading">Category</div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/Category/Create">
                Create Category
            </a>
        </li>
        <li class="list-group-item">
            <a href="/Category/Index">
                Category List
            </a>
        </li>

    </ul>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Blog</div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/Blog/Create">
                Create Blog 
            </a>
        </li>
        <li class="list-group-item">
            <a href="/Blog/List">
                Blog List
            </a>
        </li>

    </ul>
</div>